@{ 


    Layout = null;

 }


<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <style>

        .login-box {
            position: relative;
            margin-top: 200px !important;
            margin: auto;
            width: 400px;
            height: 300px;
            background-color: #fff;
            padding: 10px;
            border-radius: 3px;
            -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
            -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
            box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
        }

        .lb-header {
            position: relative;
            color: #00415d;
            margin: 5px 5px 10px 5px;
            padding-bottom: 30px;
            text-align: center;
            height: 28px;
        }

            .lb-header a {
                margin: 0 25px;
                padding: 0 20px;
                text-decoration: none;
                color: #666;
                font-weight: bold;
                font-size: 15px;
                -webkit-transition: all 0.1s linear;
                -moz-transition: all 0.1s linear;
                transition: all 0.1s linear;
            }

            .lb-header .active {
                
                font-size: 16px;
            }

        .social-login {
            position: relative;
            float: left;
            width: 100%;
            height: auto;
            padding: 10px 0 15px 0;
            border-bottom: 1px solid #eee;
        }

            .social-login a {
                position: relative;
                float: left;
                width: calc(40% - 8px);
                text-decoration: none;
                color: #fff;
                border: 1px solid rgba(0,0,0,0.05);
                padding: 12px;
                border-radius: 2px;
                font-size: 12px;
                text-transform: uppercase;
                margin: 0 3%;
                text-align: center;
            }

                .social-login a i {
                    position: relative;
                    float: left;
                    width: 20px;
                    top: 2px;
                }

                .social-login a:first-child {
                    background-color: #49639F;
                }

                .social-login a:last-child {
                    background-color: #DF4A32;
                }

        .email-login, .email-signup {
            position: relative;
            float: left;
            width: 100%;
            height: auto;
            margin-top: 20px;
            text-align: center;
        }

        .u-form-group {
            width: 100%;
            margin-bottom: 10px;
        }

            .u-form-group input[type="email"],
            .u-form-group input[type="password"] {
                width: calc(68% - 22px);
                height: 40px;
                outline: none;
                border: 1px solid #ddd;
                padding: 0 10px;
                border-radius: 10px;
                color: #333;
                font-size: 0.8rem;
                -webkit-transition: all 0.1s linear;
                -moz-transition: all 0.1s linear;
                transition: all 0.1s linear;
                border-color: #ffc107;
            }

            .u-form-group input:focus {
                border-color: #ffc107;
            }

            .u-form-group input[type="submit"] {
                width: 40%;
                background-color: #ffc107;
                border: none;
                outline: none;
                color: #fff;
                font-size: 14px;
                font-weight: normal;
                text-transform: uppercase;
                border-radius: 10px;
                vertical-align: middle !important;
                height: 30px;
            }

        .forgot-password {
            width: 50%;
            text-align: left;
            text-decoration: underline;
            color: #888;
            font-size: 0.75rem;
        }
    </style>
</head>
<body>
    @if (TempData["Success"] != null)
    {
        <div class="alert alert-success"> @TempData["Success"]</div>
    }

    <div class="login-box">

        <div class="lb-header">
            <a href="#" class="btn btn-outline-warning active" id="login-box-link" style="width: 150px !important; padding: 0px !important; margin-right: -28px; height: 30px;">Giriş Yap</a>
            <a href="#" class="btn btn-outline-warning" id="signup-box-link" style="width: 150px !important; padding: 0px !important; height: 30px;">Kayıt Ol</a>
        </div>

        <form class="email-login" asp-controller="Account" asp-action="Login" method="post">
            <div class="u-form-group">
                <input type="email" placeholder="Email" name="Email" />
            </div>
            <div class="u-form-group">
                <input type="password" placeholder="Password" name="password" />
            </div>
            <div class="u-form-group">
                <input type="submit" value="Giriş Yap" />

            </div>
            <div class="u-form-group">
                <a href="#" class="forgot-password">Şifremi Unuttum?</a>
            </div>
        </form>
        <form class="email-signup"  action="/Account/Register" method="post">
            <div class="u-form-group">
                <input type="email" placeholder="Email" name="Email" />
            </div>
            <div class="u-form-group">
                <input type="password" placeholder="Password" name="password" />
            </div>

            <div class="u-form-group">
                <input type="submit" value="Kayıt Ol" />
            </div>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
            crossorigin="anonymous"></script>
    <script>
        $(".email-signup").hide();
        $("#signup-box-link").click(function () {
            $(".email-login").fadeOut(100);
            $(".email-signup").delay(100).fadeIn(100);
            $("#login-box-link").removeClass("active");
            $("#signup-box-link").addClass("active");
        });
        $("#login-box-link").click(function () {
            $(".email-login").delay(100).fadeIn(100);;
            $(".email-signup").fadeOut(100);
            $("#login-box-link").addClass("active");
            $("#signup-box-link").removeClass("active");
        });

    </script>


</body>
</html>