@model Article.Models.Cart

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="product-detail" class="container pb-5">

    <div class="row">
        <div class="col-md-12">

            <h2>Sepet</h2>
            <hr />
            <table class="table table-bordered" style="text-align: center;">
                <thead>
                    <tr>
                        <th> Resim   </th>
                        <th> Ürün adı   </th>
                        <th> Price   </th>

                    </tr>

                </thead>
                <tbody>
                    @foreach (var x in Model.CartLines)
                    {
                        <tr>
                            <td style="padding: 0px;text-align: center;width: 200px;"> <img src="@x.Product.Photo" style="width: 200px;height: 200px;" />  </td>
                            <td style=" vertical-align: middle;text-align: center;"> <h2> @x.Product.Name   </h2> </td>
                            <td style=" vertical-align: middle;text-align: center;"><h2> @x.Product.UnitPrice  </h2> </td>
                        </tr>

                    }

                </tbody>
                <tfoot>
                    <td colspan="2">Fiyat</td>
                    <td><h2>  @Model.Total().ToString("c") </h2></td>
                </tfoot>
            </table>
        </div>

    </div>
</div>